<h1>View all Dogs</h1>
<hr>
<% @dogs.each do |dog| %>
<h3>Name: <%= link_to dog.name, dog_path(dog) %></h3>
<% end %>
<hr>

<h3>Dogs by number of Employees</h3>

<% x = @dogs.sort_by { |dog| dog.employees.size}.reverse! %>

<% x.each do |dog| %>
    <h3>Name: <%= link_to dog.name, dog_path(dog) %> Owners: <%= dog.employees.size %></h3>
<% end %>
