
<font size="10"  >
<table style="border:1px solid black;", cellspacing="15"> 
    <thead>
    <tr> 
        <th>Name</th>
        <th>Breed</th>
        <th>Owners</th>
    </tr>
    </thead>
    <tbody>
    <tr> 
        
        <td><%=@dog.name%></td>
        <td><%=@dog.breed%></td> 
        <td><%@dog.employees.each do |e|%><%= e.first_name + " " + e.last_name%><br><%end%> 
    </tr>
    </tbody>
    </table>
</font>