<h1>Dog</h1>
<p>Name: <%= @dog.name%></p>
<p>Breed: <%= @dog.breed%></p>
<p>Age: <%= @dog.age%></p>
<p>List of employees: </p>
<ul>
<% @dog.employees.each do |employee| %>
  <li><%= employee.to_s%></li>

<%end%>
</ul>
